<footer class="clay-footer">
  <div class="clay__inner">
    <div class="clay-footer__inner">
      <span class="clay-footer__copy">
        滇ICP备14007358号-1 © 2023
        <span style="white-space: nowrap">云南链滴科技有限公司</span>
      </span>
      <div class="clay-footer__links">
        <a class="clay-footer__link" href="download.html">下载</a>
        <a class="clay-footer__link" href="pricing.html">定价</a>
        <a class="clay-footer__link" href="eula.html">用户协议</a>
        <a class="clay-footer__link" href="privacy.html">隐私政策</a>
        <a class="clay-footer__link" href="https://siyuan-cn.b3log.org" target="_blank">指南</a>
        <a class="clay-footer__link" href="https://github.com/orgs/siyuan-note/projects/1" target="_blank">路线图</a>
      </div>
      <div class="clay-footer__spacer"></div>
      <div class="clay-footer__social">
        <a href="https://weibo.com/u/2778228501" target="_blank" rel="nofollow" title="微博">
          <img src="@@STATIC@@/logo-weibo.png" width="22" height="22" alt="微博" />
        </a>
        <a href="https://twitter.com/b3logos" target="_blank" rel="nofollow" title="Twitter">
          <img src="@@STATIC@@/logo-twitter.png" width="22" height="22" alt="Twitter" />
        </a>
        <a href="https://github.com/siyuan-note/siyuan" target="_blank" rel="nofollow" title="GitHub">
          <img src="@@STATIC@@/logo-github.png" width="22" height="22" alt="GitHub" />
        </a>
      </div>
    </div>
  </div>
</footer>
