<footer class="cha-footer">
  <div class="cha-container">
    <div class="cha-footer__collage">
      <span class="cha-sticker cha-sticker--lime cha-footer__sticker" aria-hidden="true">v@@SIYUAN_VERSION@@</span>
      <span class="cha-sticker cha-sticker--pink cha-footer__sticker cha-footer__sticker--2" aria-hidden="true">offline OK</span>
    </div>
    <div class="cha-footer__inner">
      <p class="cha-footer__legal">
        <a href="https://beian.miit.gov.cn/">滇ICP备14007358号-1</a>
        © 2023 云南链滴科技有限公司
      </p>
      <ul class="cha-footer__nav">
        <li><a href="download.html">下载</a></li>
        <li><a href="pricing.html">定价</a></li>
        <li><a href="eula.html">用户协议</a></li>
        <li><a href="privacy.html">隐私政策</a></li>
        <li><a href="https://siyuan-cn.b3log.org">指南</a></li>
        <li><a href="https://github.com/orgs/siyuan-note/projects/1">路线图</a></li>
      </ul>
    </div>
  </div>
</footer>
