<footer class="vib-footer">
  <div class="vib-wrapper vib-footer__inner">
    <span class="vib-footer__copy">
      滇ICP备14007358号-1 © 2023
      <span style="white-space: nowrap">云南链滴科技有限公司</span>
    </span>
    <a class="vib-footer__link" href="download.html">下载</a>
    <a class="vib-footer__link" href="pricing.html">定价</a>
    <a class="vib-footer__link" href="community.html">社区</a>
    <a class="vib-footer__link" href="https://siyuan-cn.b3log.org" target="_blank">指南</a>
    <a class="vib-footer__link" href="https://github.com/orgs/siyuan-note/projects/1" target="_blank">路线图</a>
    <span class="vib-footer__spacer"></span>
    <div class="vib-footer__social">
      <a href="https://weibo.com/u/2778228501" target="_blank" rel="nofollow">微博</a>
      <a href="https://twitter.com/b3logos" target="_blank" rel="nofollow">Twitter</a>
      <a href="https://github.com/siyuan-note/siyuan" target="_blank" rel="nofollow">GitHub</a>
      <a href="https://ld246.com/tag/siyuan" target="_blank">链滴</a>
    </div>
  </div>
</footer>
