<header class="bgr-header">
  <div class="bgr-container">
    <div class="bgr-header__inner">
      <a class="bgr-header__brand" href="@@SITE_HOME@@">
        <img class="bgr-header__logo" src="@@STATIC@@/logo.svg" alt="" width="28" height="28" />
        <span>思源笔记</span>
      </a>
      <nav>
        <ul class="bgr-header__nav">
          <li>
            <a class="bgr-header__link bgr-header__link--external" href="https://github.com/siyuan-note/siyuan">GitHub</a>
          </li>
          <li><a class="bgr-header__link" href="download.html">下载</a></li>
          <li><a class="bgr-header__link" href="pricing.html">定价</a></li>
          <li><a class="bgr-header__link" href="community.html">社区</a></li>
          <li>
            <a class="bgr-header__link bgr-header__link--external" href="https://siyuan-cn.b3log.org">指南</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
