<header class="neu-header">
  <div class="neu-container">
    <div class="neu-header__inner">
      <a class="neu-header__brand" href="@@SITE_HOME@@">
        <img class="neu-header__logo" src="https://b3log.org/images/brand/siyuan-128.png" alt="思源笔记" width="36" height="36" />
        思源笔记
      </a>
      <nav class="neu-header__nav" aria-label="主导航">
        <a class="neu-header__link" href="https://github.com/siyuan-note/siyuan" target="_blank" rel="noopener">GitHub</a>
        <a class="neu-header__link" href="download.html" data-nav="download">下载</a>
        <a class="neu-header__link" href="pricing.html" data-nav="pricing">定价</a>
        <a class="neu-header__link" href="community.html" data-nav="community">社区</a>
        <a class="neu-header__link" href="https://siyuan-cn.b3log.org" target="_blank" rel="noopener">指南</a>
      </nav>
    </div>
  </div>
</header>
