<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="robots" content="index,follow,archive" />
  <meta name="copyright" content="B3log" />
  <meta property="og:locale" content="zh_CN" />
  <meta property="og:image" content="https://b3log.org/images/brand/siyuan-128.png" />
  <meta property="og:url" content="@@SITE_URL@@" />
  <meta name="description" content="{{ title }}思源笔记 — 块级笔记，不讨好任何人" />
  <meta property="og:title" content="{{ title }}思源笔记 — 块级笔记，不讨好任何人" />
  <meta property="og:description" content="{{ title }}思源笔记 — 块级笔记，不讨好任何人" />
  <meta property="og:site_name" content="{{ title }}思源笔记" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:description" content="{{ title }}思源笔记 — 块级笔记，不讨好任何人" />
  <meta name="twitter:title" content="{{ title }}思源笔记 — 块级笔记，不讨好任何人" />
  <title>{{ title }}思源笔记 — 块级笔记，不讨好任何人</title>
  <meta name="twitter:image" content="https://b3log.org/images/brand/siyuan-128.png" />
  <meta name="twitter:url" content="@@SITE_URL@@" />
  <link rel="icon" type="image/png" href="https://b3log.org/images/brand/siyuan-128.png" />
  <link type="text/css" rel="stylesheet" href="@@STATIC@@/brutal.css" />
</head>
