<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <meta name="robots" content="index,follow,archive" />
  <meta name="copyright" content="B3log" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta http-equiv="Window-target" content="_top" />
  <meta property="og:locale" content="zh_CN" />
  <meta property="og:image" content="https://b3log.org/images/brand/siyuan-128.png" />
  <meta property="og:url" content="@@SITE_URL@@" />
  <meta name="description" content="{{ title }}思源笔记 - 每一次点击都有回应，微交互让工具变得有生命力" />
  <meta property="og:title" content="{{ title }}思源笔记 - 每一次点击都有回应，微交互让工具变得有生命力" />
  <meta property="og:description" content="{{ title }}思源笔记 - 每一次点击都有回应，微交互让工具变得有生命力" />
  <meta property="og:site_name" content="{{ title }}思源笔记" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:description" content="{{ title }}思源笔记 - 每一次点击都有回应，微交互让工具变得有生命力" />
  <meta name="twitter:title" content="{{ title }}思源笔记 - 每一次点击都有回应，微交互让工具变得有生命力" />
  <title>{{ title }}思源笔记 - 每一次点击都有回应，微交互让工具变得有生命力</title>
  <meta name="twitter:image" content="https://b3log.org/images/brand/siyuan-128.png" />
  <meta name="twitter:url" content="@@SITE_URL@@" />
  <meta name="twitter:site" content="@b3logos" />
  <meta name="twitter:creator" content="@b3logos" />
  <link rel="apple-touch-icon" href="https://b3log.org/images/brand/siyuan-128.png" />
  <link rel="preconnect" href="https://ld246.com" />
  <link rel="preconnect" href="https://release.b3log.org" />
  <link rel="preconnect" href="https://github.com" />
  <link rel="icon" type="image/png" href="https://b3log.org/images/brand/siyuan-128.png" />
  <link rel="shortcut icon" type="image/x-icon" href="https://b3log.org/images/brand/siyuan-128.png" />
  <link type="text/css" rel="stylesheet" href="@@STATIC@@/micro.css" />
</head>
