<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta
  name="description"
  content="思源笔记 - 隐私优先的个人知识管理系统，支持 Markdown 排版、块级引用和双向链接"
/>
<meta property="og:site_name" content="思源笔记" />
<meta property="og:type" content="website" />
<meta property="og:url" content="@@SITE_URL@@" />
<meta name="twitter:site" content="@b3logos" />
<link rel="icon" href="https://b3log.org/images/brand/siyuan-128.png" />
<link rel="stylesheet" href="@@STATIC@@/pixel.css" />
