<div class="ain-particles" aria-hidden="true">
  <div class="ain-particles__glow ain-particles__glow--1"></div>
  <div class="ain-particles__glow ain-particles__glow--2"></div>
  <div class="ain-particles__dot" style="left: 8%; top: 20%; animation-delay: 0s"></div>
  <div class="ain-particles__dot" style="left: 15%; top: 60%; animation-delay: 1.2s"></div>
  <div class="ain-particles__dot" style="left: 25%; top: 35%; animation-delay: 2.4s"></div>
  <div class="ain-particles__dot" style="left: 40%; top: 75%; animation-delay: 0.8s"></div>
  <div class="ain-particles__dot" style="left: 55%; top: 15%; animation-delay: 3.1s"></div>
  <div class="ain-particles__dot" style="left: 68%; top: 50%; animation-delay: 1.8s"></div>
  <div class="ain-particles__dot" style="left: 78%; top: 25%; animation-delay: 4.2s"></div>
  <div class="ain-particles__dot" style="left: 88%; top: 70%; animation-delay: 2.6s"></div>
  <div class="ain-particles__dot" style="left: 92%; top: 40%; animation-delay: 0.5s"></div>
  <div class="ain-particles__dot" style="left: 33%; top: 88%; animation-delay: 3.8s"></div>
  <div class="ain-particles__dot" style="left: 62%; top: 90%; animation-delay: 5s"></div>
  <div class="ain-particles__dot" style="left: 48%; top: 45%; animation-delay: 1.5s"></div>
</div>
