<div class="vpr-scene" aria-hidden="true">
  <div class="vpr-scene__sky"></div>
  <div class="vpr-scene__sun"></div>
  <div class="vpr-scene__grid"></div>
  <div class="vpr-scene__silhouettes">
    <div class="vpr-scene__palm vpr-scene__palm--left"></div>
    <div class="vpr-scene__palm vpr-scene__palm--right"></div>
    <div class="vpr-scene__column vpr-scene__column--left"></div>
    <div class="vpr-scene__column vpr-scene__column--right"></div>
  </div>
  <div class="vpr-scene__vhs"></div>
  <div class="vpr-scene__scanlines"></div>
</div>
